<div class="card border-0 shadow-sm rounded-4">
  <div class="card-body p-4">
    <div class="table-responsive">
      <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <input
            type="text"
            placeholder="Buscar por nombre, correo..."
            [(ngModel)]="terminoBusqueda"
            (ngModelChange)="buscar()"
            class="form-control"
          />
        </div>
        <div class="col-12 col-md-6 text-md-end">
          <button (click)="buscar()" class="btn btn-success rounded-3 p-2 me-2">
            Buscar
          </button>

          <button
            class="btn btn-success rounded-3 p-2 me-2"
            (click)="crearEjercicio()"
          >
            Crear ejercicio
          </button>
        </div>
      </div>
      <table class="table table-hover align-middle mb-0">
        <thead class="bg-light table-success">
          <tr class="text-uppercase">
            <!-- <th class="border-0" style="max-width: 20px;"></th> -->
            <th class="border-0 px-4">Ejercicio</th>
            <th class="border-0 px-4">Descripción</th>
            <th class="border-0">Musculos</th>
            <th class="border-0">Nivel de esfuerzo(MET)</th>
            <th class="border-0 text-end pe-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ejercicio of ejercicios">
            <!-- <td>
            <input type="checkbox" [checked]="seleccionados.includes(ejercicio.id)"
                   (change)="toggleSeleccion(ejercicio.idRutina)" />
          </td> -->
            <td class="px-4">
              <div class="d-flex align-items-center">
                <!-- <img src="/placeholder.svg?height=40&width=40" class="rounded-circle me-3" width="40" height="40" alt="User avatar" /> -->
                <div>
                  <p class="mb-0">
                    {{ ejercicio.nombreEjercicio }}
                  </p>

                  <img
                    src="{{ ejercicio.fotoEjercicio }}"
                    class="img-fluid"
                    alt="imagen ejercicio"
                    style="max-width: 100px; max-height: 100px; border-radius: 10px;"

                  />
                  <!-- <small class="text-muted ">{{ ejercicio.descripcionEjercicio }}</small> -->
                </div>
              </div>
            </td>
            <td class="px-4">
              <p class="mb-0">
                {{ ejercicio.descripcionEjercicio }}
              </p>
            </td>
            <td class="px-4">
              <p class="mb-0">{{ ejercicio.musculos }}</p>
            </td>
            <td class="px-4">
              <p class="mb-0">{{ ejercicio.met }}</p>
            </td>

            <td class="text-end pe-4">
              <!-- <button class="btn btn-light btn-sm rounded-circle" (click)="detalleRutina(rutine)">
                                        <i class="bi bi-eye" ></i>
                                    </button> -->
              <button
                class="btn btn-light btn-sm rounded-circle"
                (click)="abrirModal(ejercicio)"
                data-bs-toggle="modal"
                data-bs-target="#modalEjercicio"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn btn-light btn-sm rounded-circle"
                (click)="eliminarEjercicio(ejercicio.idEjercicio)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- <tfoot>
        <tr>
          <td colspan="6" class="text-end">
            <button class="btn btn-primary" (click)="seleccionarTodos()">Seleccionar Todos</button>
            <button class="btn btn-secondary" (click)="deseleccionarTodos()">Deseleccionar Todos</button>
          </td>
        </tr>
      </tfoot> -->
      </table>
    </div>
  </div>
</div>
