<app-nav></app-nav>
<!-- Sidebar -->
<div class="row min-vh-100">
  <div class="col-auto px-0 bg-light border-end" style="width: 280px">
    <app-sidebar
    [seccionActual]="seccionActual" 
    [tipoUsuario]="'administrador'"
    (seccionSeleccionada)="cambiarSeccion($event)"
    >
    </app-sidebar>
  </div>
  <!-- Main Content -->
  <div class="col px-4 py-4">
    <div class="contenido p-4">
      <div *ngIf="seccionActual === 'gestionUsers'">
        <h3>Gestión de Usuarios</h3>
        <app-dashboard-graphics
          [tipoUsuario]="'administrador'"
        ></app-dashboard-graphics>
      </div>
      
      <div *ngIf="seccionActual === 'qr'">
        <div class="row justify-content-between align-items-center mb-2">
          <app-programador></app-programador>
        </div>
      </div>
      <div *ngIf="seccionActual === 'settings'">
        <h3>Settings</h3>
        <p>Configuraciones del sistema...</p>
      </div>
      <div *ngIf="seccionActual == '' || seccionActual == null">
     
        <h3> 
            Bienvenido Instructor de SENA Health-U
        </h3>
        <p>Gestione los usuarios desde aquí.</p>
      </div>
    </div>
  </div>
</div>