<div class="col">
  <div class="card border-0 shadow-sm rounded-4">
    <div class="card-body p-4">
      <div class="d-flex flex-wrap justify-content-between align-items-center mb-4 gap-2">
        <div class="col-12 col-md-auto flex-grow-1 form-container">
          <input
            type="text"
            placeholder="Buscar por nombre..."
            [(ngModel)]="terminoBusqueda"
            (ngModelChange)="buscar()"
            class="form-control"
          />
        </div>
        <div class="col-12 col-md-auto d-flex gap-2 justify-content-end">
          <button (click)="buscar()" class="btn btn-success rounded-3">
            Buscar
          </button>
          <button class="btn btn-success rounded-3" (click)="redirigeRutinas()">
            Crear rutina
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="bg-light table-success">
            <tr class="text-uppercase">
              <th class="border-0 px-4">Rutina</th>
              <th class="border-0">Descripción</th>
              <th class="border-0">Enfoque</th>
              <th class="border-0 text-end pe-4">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rutine of datosFiltrados">
              <td class="px-4">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 fw-bold">{{ rutine.nombre }}</p>
                    <img
                      [src]="rutine.fotoRutina || 'https://via.placeholder.com/100'"
                      class="img-fluid"
                      alt="imagen rutina"
                      style="
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 10px;
                      "
                    />
                  </div>
                </div>
              </td>
              <td>
                <p class="mb-0 small">{{ rutine.descripcion }}</p>
              </td>
              <td>
                <span class="badge bg-secondary">{{ rutine.enfoque }}</span>
              </td>
              <td class="text-end pe-4">
                <button
                  class="btn btn-light btn-sm rounded-circle me-2"
                  (click)="abrirModal(rutine)"
                >
                  <i class="bi bi-eye"></i>
                </button>
                <button
                  class="btn btn-light btn-sm rounded-circle"
                  (click)="asignarRutina(rutine.idRutina)"
                >
                  <i class="bi bi-person-add"></i>
                </button>
    
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
