<div class="card border-0 shadow-sm rounded-4">
    <div class="col px-4 py-4">
        <!--boton registrar-->
        <div *ngIf="tipoUsuario !== 'administrador'" class="d-flex justify-content-between align-items-center mb-2">
            <a class="btn btn-success rounded-3 p-2" [routerLink]="['/register-admin']">
              <i class="bi bi-plus-lg me-2"></i>
              Registrar nuevo administrador
            </a>
        </div>
<!-- 
        <div *ngIf="tipoUsuario === 'administrador'" class="d-flex justify-content-between align-items-center mb-2">
            <a class="btn btn-success rounded-3 p-2" [routerLink]="['/register-user']">
              <i class="bi bi-plus-lg me-2"></i>
              Registrar nueva Rutina
            </a>
        </div> -->

        <!--tabla de usuarios-->
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <input
                    type="text"
                    placeholder="Buscar por nombre, correo..."
                    [(ngModel)]="terminoBusqueda"
                    (ngModelChange)="buscar()"
                    class="border p-2 rounded mb-4 w-full"
                   />
                   <div class="flex justify-between items-center mb-4 gap-2">

                    <button (click)="buscar()" class="btn btn-success rounded-3 p-2 me-2"> Buscar </button>

                    <button class=" btn btn-success rounded-3 p-2 me-2 " (click)="redirigeRutinas()">Crear Rutinas</button>

                   </div>

                    <table class="table table-hover align-middle mb-0 ">
                        <thead class="bg-light table-success">
                            <tr class="text-uppercase   ">
                                <!-- <th class="border-0 " style="max-width: 20px;"></th> -->
                                <th class="border-0 px-4">Rutina</th>
                                <th class="border-0">Descripción</th>
                                <th class="border-0">Enfoque</th>
                                <th class="border-0 text-end pe-4">Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rutine of datosFiltrados">
                              <!-- <td>
                                <input type="checkbox" [checked]="seleccionados.includes(rutine.id)"
                                       (change)="toggleSeleccion(rutine.idRutina)" />
                              </td> -->
                                <td class="px-4">

                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">{{ rutine.nombre }}</p>
                                            <img
                                                src="{{ rutine.fotoRutina }}"
                                                class="img-fluid"
                                                alt="imagen rutina"
                                                style="max-width: 100px; max-height: 100px; border-radius: 10px;"
                                            />
                                            <!-- <small class="text-muted">{{ rutine.nombre }}</small> -->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0">{{ rutine.descripcion }}</p>
                                </td>
                                <td>
                                    <p class="mb-0">{{ rutine.enfoque }}</p>

                                </td>

                                <td class="text-end pe-4">
                                    <!-- <button class="btn btn-light btn-sm rounded-circle" (click)="detalleRutina(rutine)">
                                        <i class="bi bi-eye" ></i>
                                    </button> -->
                                    <button class="btn btn-light btn-sm rounded-circle" (click)="abrirModal(rutine)">
                                        <i class="bi bi-pencil" ></i>
                                    </button>
                                    <button class="btn btn-light btn-sm rounded-circle" (click)="eliminarRutina(rutine.idRutina)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <button class="mt-3 btn btn-success rounded-3 p-2  " (click)="eliminarSeleccionados()">Eliminar seleccionados</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
